nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    height: 10rem;
    padding: 0 1.5rem;
}
body{
    
    color: white;
    background-color: #7454d9;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
}
h1, h2, h3, h4{
    text-align: center;
    color: white;;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
div{
    display: flex;
    justify-content: space-evenly;
}
section{
    display: flex;
    gap: 2rem;
    text-decoration: none;
}

footer{
    margin-top: 35px;
}
#sobreNos{
    display: block;
    text-align: center;
}
#contatos{
    display: block;
    text-align: center;
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    height: 900px;
}
