body{
    
    background-color: #7454d9;
}
a{
    
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-decoration: none;
        color: white;
        
}
nav{
    
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: 32px;
    background-color: #f1d958;
    justify-content:space-evenly

}