* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    padding: 0 1.5rem;
}

body{
    background-color: #7454d9;
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
#nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 15px;

} 
.buttonYellow {
    display: flex;
    background: #f1d958;
    user-select: none;
    cursor: pointer;
    padding: 10px 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: black;
}
.buttonBlue{
    display: flex;
    background: #94d1e4;
    user-select: none;
    cursor: pointer;
    padding: 10px 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: black;
}

#search-user {
    display: flex;
    align-items: flex-end;
    gap: 10px; 
    margin-bottom: 80px;
    margin-right: 40px;
}

#search-user img {
    height: 40px; 
}
.interagir {
    cursor: pointer;
}
.star {
    margin-right: 12px;
}

#pesquisar {
    padding: 8px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 8px;
    background-color: transparent;
    margin-bottom: 6px;
    color: white;
    text-align: center;
    
}

::-webkit-input-placeholder {
    color: white;
    font: 13px verdana, arial, sans-serif;
 }

 section{
    display: flex;
    gap: 4rem;
    text-decoration: none;

}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    text-align: center; 
    flex: 1;
    white-space: nowrap;
}

form{
    font-size: 18px;
    background-color:#f1d958;
    width: 500px;
    height: 400px;
    margin: auto;
    border-radius: 16px;
    padding-top: 25px;
}
input {
    width: 25rem;
    padding: 12px 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
  }
section{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    font-size: 18px;
    font-family: monospace;
}

h1{
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 18px;
    color: white
}
h2{
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 23px;
    margin-bottom: 18px;
    color: white
}
div{
    font-size: 18px;
    color:white;
    width: 500px;
    margin-left: 50px;
    font-family: monospace;
}
section{
    display: flex;
    gap: 2rem;
    text-decoration: none;
}

#login{
    cursor: pointer;
    background-color: #94d1e4;
    width: 300px;
    margin-left: 50px;
}

input.error {
    border: solid 2px #992020;
    background-color: #e6aaaa;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    color: #206620;
  }
  
  .error-text {
    display: none;
    font-size: .8rem;
    font-weight: 600;
    color: #992020;
    margin-left: 80px;
  }
  
  .visible {
    display: block;
  }

footer{
    margin-top: 35px;
}
#sobreNos{
    display: block;
    text-align: center;
}
#contatos{
    display: block;
    text-align: center;
}
.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    height: 30px;
    padding: 0 15px;
    position: absolute;
    bottom: 0px;
}
