* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 html { font-size: 100%; }        /* 16px por padrão */
 h1 { font-size: 2.5rem; }       /* 40px */
 p  { font-size: 1rem; }         /* 16px */
 @media (max-width: 480px) {
   html { font-size: 90%; }      /* reduz 10% para telas pequenas */
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    height: 10rem;
    padding-left: 70px;
    padding-right: 300px; 
}  


 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-color: #7454d9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
main {
    flex: 1;
  }
a{
    text-decoration: none;
    color: white;
}
#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
#nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 15px;
}

#navegacao, #nav_vinhos {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav_vinhos {
    margin-top: 15px;
}

#navegacao li, #nav_vinhos li {
    text-align: center; 
    flex: 1;
    white-space: nowrap; 

}

#nav li a, #nav_vinhos li a {
    display: block; 
    padding: 5px 35px;
    background-color: #f1d958;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #d60c0c;
    letter-spacing: 1px;
    font-weight: 600;
}
#search-user {
    display: flex;
    align-items: flex-end;
    gap: 10px; 
    margin-bottom: 80px;
    margin-right: 40px;
}

#search-user img {
    height: 40px; 
}
.interagir {
    cursor: pointer;
}
.star {
    margin-right: 12px;
}

#pesquisar {
    padding: 8px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 8px;
    background-color: transparent;
    margin-bottom: 6px;
    color: white;
    text-align: center;
    
}

::-webkit-input-placeholder {
    color: white;
    font: 13px verdana, arial, sans-serif;
 }


#nav a:hover, 
#nav_vinhos a:hover {
    background-color: white !important;
    color: black !important;
}

#wines {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-left: 90px;
}


.wineContour {
    background-color: #f1d958; 
    border-radius: 15px;
    width: 160px;
    padding: 10px;
    text-align: center;
    position: relative;
    color: black;
    
}

.wineContour img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.rating {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: rgb(172, 6, 6);
    color: white;
    border-radius: 100%;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 14px;
}

.wineButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.wineButtons button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.btn{
    display: flex;
    gap: 1.5rem;
    text-decoration: none;

}
#buttonYellow {
    display: flex;
    background: #f1d958;
    user-select: none;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: black;
}
#buttonBlue{
    display: flex;
    background: #94d1e4;
    user-select: none;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: black;
}
.rodape{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    background-color: #7454d9;
    color: white;
    height: 30px;
    padding: 0 15px;
    margin-top: 10px;
}

.linksRodape{
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: white;
}

 
.dropdown {
    display: none;
    position: absolute; 
    top: 75px; 
    right: 25px; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    z-index: 1000;
  }
  
  .dropdown li {
    margin: 5px 0;
  }
  
  .dropdown li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
  }
  
  .dropdown li a:hover {
    background-color: #f1d958;
  }

  #homeMenuHover {
    background-color: #fff;
  } 


.dropdown-vinho {
    display: none;  
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    z-index: 1000;
    min-width: 150px;
    top: 230px;
  }
  
  .dropdown-vinho li {
    margin: 5px 0;
  }
  
  .dropdown-vinho li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
  }
  
  .dropdown-vinho li a:hover {
    background-color: #f1d958;
  }

  