* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    height: 10rem;
    padding-left: 70px;
    padding-right: 300px; 
}  


 body{
    
    color: white;
    background-color: #7454d9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;}
a{
    text-decoration: none;
    color: white;
}
#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
#nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 15px;
}

#navegacao, #nav_vinhos {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav_vinhos {
    margin-top: 15px;
}

#navegacao li, #nav_vinhos li {
    text-align: center; 
    flex: 1;
    white-space: nowrap; 

}

#nav li a, #nav_vinhos li a {
    display: block; 
    padding: 5px 35px;
    background-color: #f1d958;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #d60c0c;
    letter-spacing: 1px;
    font-weight: 600;
}
#search-user {
    display: flex;
    align-items: flex-end;
    gap: 10px; 
    margin-bottom: 80px;
    margin-right: 40px;
}

#search-user img {
    height: 40px; 
}
.interagir {
    cursor: pointer;
}
.star {
    margin-right: 12px;
}

#pesquisar {
    padding: 8px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 8px;
    background-color: transparent;
    margin-bottom: 6px;
    color: white;
    text-align: center;
    
}

::-webkit-input-placeholder {
    color: white;
    font: 13px verdana, arial, sans-serif;
 }

 #cadastrar{
    cursor: pointer;
    color: white;
    background-color: #94d1e4;
    width: 100px;
    margin-left: 150px;
}

.visible {
    display: block;
  }

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    text-align: center; 
    flex: 1;
    white-space: nowrap;
}
#cadastro{
    color: rgb(33, 32, 32);
    
    margin-left: 50px;
    margin-bottom: 700px;
    font-family: monospace;
}

#cadastrar{
    cursor: pointer;
    background-color: #7454d9;
    width: 300px;
    margin-left: 50px;
}

#login{
    cursor: pointer;
    color: white;
    background-color: #94d1e4;
    width: 100px;
    margin-left: 150px;
}
input {
    width: 25rem;
    padding: 12px 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
  }
form{
    font-size: 20px;
    background-color:#f1d958;
    width: 500px;
    height: 480px;
    margin: auto;
    border-radius: 16px;
    padding-top: 25px;
}
section{
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

h1{
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 18px;
    color: white
}

 
  .error-text {
    display: none;
    font-size: .8rem;
    font-weight: 600;
    color: #992020;
    margin-left: 80px;
  }
  
  .rodape{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    background-color: #7454d9;
    color: white;
    height: 30px;
    padding: 0 15px;
    margin-top: 10px;
}
.linksRodape{
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: white;
}