* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    padding: 0 1.5rem;
}

body{
    background-color: #7454d9;
}
.buttonYellow {
    display: flex;
    background: #f1d958;
    user-select: none;
    cursor: pointer;
    padding: 10px 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
}
.buttonBlue{
    display: flex;
    background: #94d1e4;
    user-select: none;
    cursor: pointer;
    padding: 10px 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    text-align: center; 
    flex: 1;
    white-space: nowrap;
}
#cadastro{
    color: rgb(33, 32, 32);
    width: 500px;
    margin-left: 50px;
    font-family: monospace;
}
#buttons{
    display: flex;
    flex-direction: column;
}
#buttons a {
    background-color: #7454d9;
    margin-right: 100px;
    border-radius: 50px
}
input {
    width: 25rem;
    padding: 12px 10px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
  }
form{
    font-size: 20px;
    background-color:#f1d958;
    width: 500px;
    height: 480px;
    margin: auto;
    border-radius: 16px;
    padding-top: 25px;
}
section{
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

h1{
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 18px;
    color: white
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7454d9;
    color: white;
    height: 100px;
    padding: 10px 15px;
}
#cadastrar{
    cursor: pointer;
    background-color: red;
}  
  .error-text {
    display: none;
    font-size: .8rem;
    font-weight: 600;
    color: #992020;
    margin-left: 80px;
  }
  
  .visible {
    display: block;
  }